.item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "top-section"
    "bottom-section";
  padding: var(--spacing-l);
  margin-bottom: var(--spacing-s);

  @media (max-width: 768px) {
    display: block;
  }

  .top-section {
    grid-area: top-section;
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: var(--spacing-xs);

    .image {
      width: var(--font-xxxl);
      height: var(--font-xxxl);
      // background-color: green;

      @media (max-width: 768px) {
        width: var(--font-xxl);
        height: var(--font-xxl);
      }
    }

    .year-and-title {
      // background-color: blue;
      align-self: center;
      margin-left: var(--spacing-s);

      .year {
        font-size: var(--font-l);
        color: var(--color-accent);
      }

      .title {
        font-size: var(--font-xl);
        margin: 0;
      }
    }
  }

  .bottom-section {
    grid-area: bottom-section;
    display: grid;
    grid-template-columns: auto 1fr;

    .desktop-placeholder {
      width: var(--font-xxxl);
      // background-color: red;
      @media (max-width: 768px) {
        display: none; // hide the placeholder on mobile
      }
    }

    .description {
      // background-color: yellow;
      p {
        margin-bottom: var(--spacing-xs);
        line-height: var(--font-xl);
        color: var(--color-primary);
      }
      @media (min-width: 768px) { // add margin after placeholder on desktop (as with top section image margin)
        margin-left: var(--spacing-s);
      }
    }
  }
}
