@import '../../../style/variables.scss';

.label {
  display: inline-block;
  background-color: var(--color-primary);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-s);

  span {
    font-weight: bold;
    color: var(--color-background);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
