@font-face {
    font-family: 'GeistMonoVF';
    src: url('/src/assets/fonts/GeistMonoVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistVF';
    src: url('/src/assets/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}