:root {
    --color-primary: #ccd6f6;
    --color-accent: #64ffda;
    --color-accent-hover: #46b298;
    --color-green-transparent: rgba(100, 255, 218, 0.1);
    --color-secondary: #a8b2d1;
    --color-grey: #888888;
    --color-background: #0a0a0a;
    --color-background-bright: #1c1c1c;

    --font-xxxl: 5em;
    --font-xxl: 3.5em;
    --font-xl: 1.4em;
    --font-l: 1.2em;
    --font-m: 1em;
    --font-s: 0.8em;
    --font-xs: 0.6em;
    --font-family-primary: 'GeistVF', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-mono: 'GeistMonoVF', monospace;

    --spacing-xxl: 4em;
    --spacing-xl: 3em;
    --spacing-l: 2em;
    --spacing-m: 1.5em;
    --spacing-s: 1em;
    --spacing-xs: 0.5em;
    --spacing-xxs: 0.2em;

    --max-width: 50em;

    --border-radius: 4px;

    --transition-duration: 0.3s;
}