:root {
    --color-primary: #ccd6f6;
    --color-accent: #64ffda;
    --color-secondary: #a8b2d1;
    --font-large: 2.5em;
    --font-medium: 1.4em;
    --font-small: 0.8em;
    --spacing-large: 4em;
    --spacing-medium: 3em;
    --spacing-small: 2em;
    --spacing-tiny: 1em;
}