@import '../../../style/variables.scss';

.tag {
  font-size: var(--font-small);
  color: var(--color-accent);
  background-color: var(--color-green-transparent);
  padding: 0.3em 0.8em;
  border-radius: var(--border-radius);
}