@import '../../../../../style/variables.scss';

.tags-container {
  display: flex;
  flex-wrap: wrap;

  .tag {
    font-size: var(--font-s);
    color: var(--color-accent);
    background-color: var(--color-green-transparent);
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: var(--border-radius);
    white-space: nowrap;
  }
}
