@import '../../../style/variables.scss';

.projects-section {
  padding: var(--spacing-large) 0;
  max-width: 800px;
  margin: 0 auto;

  .section-title {
    font-size: var(--font-large);
    margin-bottom: var(--spacing-tiny);
    color: var(--color-primary);
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
  }
}