@import "../../../style/variables.scss";

.tabs-container {
  display: flex;
  overflow-x: auto;
  border-bottom: 0.5px solid var(--color-accent);
  font-weight: bold;
  font-size: var(--font-s);
  padding: 0 var(--spacing-l);

  .tab {
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-s);
    text-transform: uppercase;
    color: var(--color-secondary);
    background-color: transparent;


    &:hover {
      background-color: var(--color-accent-hover);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      span {
        color: var(--color-background);
      }
    }

    &.active {
      background-color: var(--color-accent);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      color: var(--color-background);
      span {
        color: var(--color-background);
      }
    }
  }
}
