@import '../../style/variables.scss';

.header {
  background-color: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-background-bright);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-s) var(--spacing-l);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--spacing-m);
  font-size: var(--font-s);

  nav {
    display: flex;
    gap: var(--spacing-m);
  }
}