.header {
  background-color: #0d0d0d;
  border-bottom: 1px solid #141414;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 2em;
  align-items: center;

  a {
    color: #888888;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #dbdbdb;
    }
  }
}